<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565403363230-ibm77pr85bm823csvmre5elqdji29sjj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565403363230-ibm77pr85bm823csvmre5elqdji29sjj</string>
	<key>API_KEY</key>
	<string>AIzaSyBdmTFyxbeib5oQ6Z9ejx06aG1SKPYbNA0</string>
	<key>GCM_SENDER_ID</key>
	<string>565403363230</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cantorean</string>
	<key>PROJECT_ID</key>
	<string>cantorean-6d0cd</string>
	<key>STORAGE_BUCKET</key>
	<string>cantorean-6d0cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565403363230:ios:1c2282543ccad95943188f</string>
</dict>
</plist>